body{
    background-image: url(https://th.bing.com/th/id/OIP._FVAwcd-ZBi0omSPOt-R3wHaHa?rs=1&pid=ImgDetMain);
    background-repeat: no-repeat;
    background-size: 100px 100px;
}

.bg-primary{
    padding: 10px;
}

